/* styles.css */
h3 {
  font-family: "Times New Roman";
  font-size: 20px;
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

table,
th,
td {
  padding: 2px;
  border-spacing: 20px;
  background-color: rgb(212, 255, 255);
}

table {
  border: 5px solid black;
}